/* 屏幕小于768 */
@media screen and (max-width: 768px) {
  .container-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .picture,
  .pictureTwo,
  .pictureThree {
    border-radius: 50%;
    object-position: top;
    object-fit: cover;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 80px;
  }
  .pictureThree {
    z-index: -1;
  }
}

/* 屏幕大于 769 或小于 1440px 时应用该样式 */
@media screen and (min-width: 769px) and (max-width: 1440px) {
  .container-img {
    overflow: hidden;
    // position: absolute;
    z-index: -1;
    .picture,
    .pictureTwo,
    .pictureThree {
      width: 100vw;
      height: 85%;
      object-fit: cover;
      position: absolute;
    }
    .picture {
      z-index: 2; //中间层
    }
    .pictureTwo {
      // position: absolute;
      // width: 100vw;
      // height: 100vh;
      z-index: 1; //最上层
    }
    .pictureThree {
      // position: absolute;
      z-index: -1; //最底层
    }
    img {
      width: 100%;
      height: 23%;
      position: absolute;
      z-index: 3;
      bottom: 0;
    }
  }
}
